POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=accountdb
POSTGRES_PORT=5432
POSTGRES_CONTAINER_PORT=5432

DB_URL=jdbc:postgresql://postgres:5432/accountdb
DB_USERNAME=postgres
DB_PASSWORD=
DB_DRIVER=org.postgresql.Driver

SERVER_PORT=8080
SPRING_JPA_HIBERNATE_DDL=update
SPRING_SQL_INIT_MODE=always
SPRING_LIQUIBASE_CHANGE_LOG=classpath:db/changelog/db.changelog-master.xml